.away{
margin-top: 2%;
}
.title{
    font-size: 25px;
margin-bottom: 0%;
}
.titleinput{
font-weight: 700;
font-size: 16px;
}
.reddanger{
    color:crimson;
    font-weight: 900;
}
.Repeated-info{
    padding: 5%;
    margin-bottom: -2%;
    border-radius: 10px;
    border: 1px #b1b1b173 solid;
}
.Non-Repeated-info{
    padding: 5%;
    margin-bottom: 5%;
   
}
.modif-repeated{
    position: relative;
    left: 88%;
}