.smallimg{
    height: 25px;
    width: 25px;
}
.animphases{
    transition: all 2.3s;
}
.animephase2{
    transition: all 5.3s;
}
.common-img-bg{
    background-image: linear-gradient(to bottom right, #ffcb0d, #71CCD4,#1B6AB1); 
}
ngb-alert{
    animation-name: example;
  animation-duration: 0.6s;
}
@keyframes example {
    from {opacity: 0;margin-top:25%;}
    to {opacity:1;margin-top:1%;}
  }
  ngb-alert{
    animation-name: example;
  animation-duration: 0.6s;
}

  .ng-invalid:not(form)  {
    border-left: 5px solid #c52828; /* red */
  }

  .text-muted {
    color: #e73030 !important;
    margin-left: 5px;
    
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #5991cc;
    border-color: #fff;
}
  