<div style='margin-left: 6%;
margin-right: 6%'>
    <h2>DES SERVICES APRES LA PUBLICATION ET/OU LA TRANSMISSION DES MODIFICATIONS APPORTEES CONSISTERA DE FACTO A L&#39;ACCEPTATION DESNOUVELLES CONDITIONS.</h2>
<p>La version mise à jour peut être consultée en cliquant sur le lien “Conditions
    d&#39;utilisation” située sur le site web.</p>
<p>La présente Charte vise à vous fournir toutes les informations pertinentes
    relatives au traitement des Données Personnelles qui peuvent être collectées
    sur notre plateforme</p>
<h3>Consentement à l&#39;utilisation de mes données personnelles</h3>

<p>
En m&#39;inscrivant à notre plateforme, je consens à ce q'utilise mes données
personnelles parallèlement à la collecte nécessaire des données pour le
traitement de mes candidatures par les établissements concernés. Je consens
également au traitement et à l&#39;utilisation des données en lien avec les
candidatures ainsi qu&#39;à la réception des informations concernant les mastères,
l&#39;évolution du traitement de mon dossier ou toute autre information concernant
mes candidatures, et ce par E-mail, SMS, WhatsApp ou d&#39;autres moyens
électroniques.
</p>
<p>
Je peux révoquer cette déclaration de consentement à tout moment dans mon
espace client ou en envoyant un email à info@platforme.tn. Mon compte sur notre plateforme
est automatiquement annulé en cas de révocation de cette déclaration de
consentement.
</p>
<h3>Quels traitements, pour quelles finalités ?</h3>

<p>
    Lorsque vous créer un compte sur notre plateforme, vous pouvez partager vos données
à caractère personnel avec notre plateforme qui opère en tant que intermédiaire entre
vous et l&#39;établissement des parcours de mastère (ou autres).
</p>
<p>
D&#39;une manière générale, les informations à caractère personnel ne sont utilisées
que pour nous permettre de communiquer avec vous, de fournir, améliorer ou
développer nos services. Ces traitements et finalités sont justifiées et basées sur
notre intérêt légitime pour nous assurer que vous appréciez l&#39;expérience en
visitant notre plateforme et en interagissant avec nous.
</p>

<p>
    Dans l&#39;optique de la procédure de pré-inscription, Notre plateforme permet aux
établissements concernés (auxquels vous avez déposé une ou plusieurs
demandes de pré-inscription) d&#39;accéder aux informations collectées.
</p>

<h3>Vos droits en termes de protection des données personnelles</h3>

<p>
    Vous bénéficiez d&#39;un droit d&#39;accès à vos Données Personnelles. Vous pouvez
également demander que vos données personnelles soient rectifiées ou
supprimées. Vous avez également le droit de vous opposer au traitement de vos
données personnelles ou d&#39;en demander la limitation de traitement.
</p>
<p>
    Dans le cas d&#39;une telle demande ou plainte, veuillez envoyer un courriel à
info@plateforme.tn
</p>
<p>
   Notre plateforme ne garde aucune information personnelle (physique ou sous format
électronique) des utilisateurs après la suppression de leurs comptes. Seuls les
établissements peuvent conserver des copies (physique ou sous format
électronique).
</p>
<h3>
    Sécurité et intégrité des Données
</h3>
<ul>
    <li>Notre plateforme a mis en place un certain nombre de mesures de sécurité
        techniques afin de protéger les Données Personnelles que nous
        collectons, utilisons ou transférons contre les pertes, utilisations abusives,
        falsifications ou destructions. Les Données Personnelles étant
        confidentielles, Notre plateforme limite leur accès aux seuls établissements en
        ayant besoin dans le cadre de la procédure de traitement et sélection de
        dossiers.</li>
    <li>Notre plateforme ne vend pas et n&#39;envoie aucune information des utilisateurs à
        des tiers.</li>
    <li>Notre plateforme s&#39;engage à préserver la sécurité des données personnelles et
        privées des utilisateurs.</li>
    <li>Notre plateforme utilise uniquement les données pour les candidatures de pré-
        inscriptions et s&#39;engage à ne pas distribuer, vendre ou diffuser ces
        informations à des tiers.</li>
</ul>
<h3>Hébergement Cloud</h3>
<ul>
    <li><b>ICertification ISO/IEC 27001 :</b> Ce standard atteste de la mise en place
        d&#39;une organisation de la sécurité.</li>
    <li><b>Attestations SOC 1 TYPE II ET SOC 2 TYPE II :</b> Le niveau de sécurité
        reconnu par les attestations SOC 1 type II (SSAE 16 et ISAE 3402) et SOC 2
        type II ; Ces attestations internationales garantissent la mise en place et
        l&#39;efficacité de contrôles internes liés à la sécurité du système d&#39;information.</li>
    <li><b>STAR self-assessment - Cloud Security Alliance :</b> garantit la conformité
        de ses services de cloud computing aux bonnes pratiques communiquées
        par la CSA, et détaille les mesures prises pour assurer la sécurité du
        système d&#39;information</li>
</ul>
</div>