.reddanger{
    color:crimson;
    font-weight: 900;
}
.ng-invalid:not(form)  {
    border-left: 5px solid #c52828; /* red */
  }
  .text-muted {
    color: #e73030 !important;
    margin-left: 5px;
 }